# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data files
*.csv

# Environment file that contains Twitter API access tokens
.env

# Log files
*.log

# Miscellaneous
test.json